*{
    box-sizing: border-box;      /*   ширина и высота с учетом марж. падд. */
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1140px;
    margin: 0 auto;       /* выравниваем контейнер по центру */
}
.promo{
    height: 800px;                       /*  флеш обязательно а то изобр. на появит. */
    background: url('../img/IMG_20221229_130123.jpg') center center/cover no-repeat;
    padding: 30px 0px 62px 0px;
}                                                 
.logo .logo_img{
    display: block;          /*    display: block; т.к. img строчн. элем. */
   margin: 0 auto;              /*  логотип по центру */
   width: 70px;
}   
.logo .logo_text{
    color: #ff0909;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
} 
h1{
    margin-top: 53px ;
}    
.title{
    color: #f9bf3b;
    font-family: "Roboto - Black";
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}  
h2.title{
    margin-top: 10px;
}
.simple .title_big{
    color: #ffffff;
    font-family: "Roboto - Black";
    font-size: 80px;
    font-weight: 400;
   text-align: center;
   margin-top: 11px;
    text-transform: uppercase;
} 
.promo .promo_btn{
    display: block;
    margin: 73px auto;  /*   устанавливаем кнопку по центру по верт.73  по горизонт. auto */ 
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);  /* это тень  */
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #267a93 0%, #45d7ff 100%);         /* градиент */
    color:#ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}  
.more{
    margin-top: 33px;
}   
.more .more_text{
    color: #ffffff;
    font-family: "Rjboto - Thin";
    font-size: 15px;
    font-weight: 400;
   text-align: center;
    text-transform: uppercase;
} 
.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 23px;
}  

.waiting{
    height: 1708px;
    background-color: rgb(166, 192, 192);
    padding: 85px 0 75px 0;
}   
.more1 .more_img1{
    display: block;
    margin: 0 auto;
     margin-bottom: 13px; 
   /*  margin-left: 136px;  */
    width: 100px;
    border-radius: 20%;
    transform: rotate(2deg);
    
}  

.waiting .waiting_header{
    color: #000;
    font-family: Roboto;
    font-weight: 400;
   
    text-transform: uppercase;
    text-align: center;
}  
.waiting .waiting_divider{
    width: 217px;
    height: 4px;
    background-color:#f9bf3b;
     margin: 0 auto;
     margin-top: 18px; 
}   
.waiting .waiting_subheader{
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-top: 17px;
}  
.waiting .waiting_wrapper{
    margin-top: 45px;
}  
.waiting .waiting_wrapper .waiting_item{
    display: inline-block;
     vertical-align: top;
    width: 200px;
   /*  margin: 0 auto; */
   position: relative;
    text-align: center;
    margin: 0 87px;
    
}                       
.waiting_img {
   width: 100%;
   height: 300px;
}
.sport{
    width: 100%;
    height: 150px; 
}
.waiting_descr{
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    background-color:#ffffff;
    margin: 0 5px;
}
.raund{
    position: absolute;
    top: 300px;
    left: -7px;
    width: 20px;
    height: 20px;
    border-style: solid;
    background-color:#f9bf3b;
    border-radius: 50%;
    border-width: 0px;
   
}
            /*  ==============Разметка флексами=========== */
          
.my-flex-container{
    display: flex;
    height: 450px;
    /* justify-content: center; */     /* выравнивает все блоки по центру */
   /*  justify-content: space-between;  */  /*  элементы распределяются по всей ширине родительского блока */   
   justify-content: space-around;      /*  выравнивает с отступами */
    margin-top: 22px;
    
}

.my-flex-block{
  /*   width: 150px;
    height: 150px; */
   /*  background-color:#ff0909; */
    text-align: center;
    color: #373434;
}
.waiting_imgmy{
    width: 250px;
    height: 364px;
    margin: 0 5px;
}
.plus{
    width: 490px;
    height: 364px;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media(max-width:379px) {
    body{
        min-width: 374px;
        height: 950px;
    }
    .container{
        width: 364px;
        height: 1950px;
        
        background-size: 100% 100%;
        background-repeat: no-repeat;
}
.waiting{
    height: 5008px;
    background-color: rgb(184, 230, 230);
    padding: 85px 0 75px 0;
}
/* .more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 23px;

} */
.waiting_descr{
    margin-top: 3px;
    margin-bottom: 30px ;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    background-color:#ffffff;
    margin: 0 45px;
   
} 
.raund{
    position: absolute;
    top: 300px;
    left: 35px;
    width: 20px;
    height: 20px;
    border-style: solid;
    background-color:#f9bf3b;
    border-radius: 50%;
    border-width: 0px;
   
} 

.my-flex-container{
     display: block;
     flex-direction: column;           /* cтавит блоки в колонку */ /*  когда displai: flex; установлен */
    height: 450px;
    /* justify-content: center; */     /* выравнивает все блоки по центру */
   /*  justify-content: space-between;  */  /*  элементы распределяются по всей ширине родительского блока */   
   /* justify-content: space-around;    */   /*  выравнивает с отступами */
    margin-top: 22px;
   /*  align-items: center; */
}

.my-flex-block{
    width: 364px;
    height: 400px;
    
    text-align: center;
    color: #000;
}
.waiting_imgmy{
    width: 300px;
    height: 364px;
    margin: 0 20px;
}
.plus{
    height: 264px;
    margin: 40px 0 0 0;
}
.plus_descr{
    margin: 0 50px 0px 50px;
}


}


