body{
    /* background-color: #000; */
   min-width: 1200px;
   height: 900px;
}
.container{
    width: 1400px;
    height: 800px;
    background-image:url(../img/1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* задаем цвет фона для контейнера nav. */
nav {
    margin: 10px 0;
    padding: 100px;
    /* background-color: #E64A19; */
    
}

/* убираем отступы и поля, а также list-style для "ul", 
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    text-align: center;
    }

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
  /*   background-color: #E64A19; */
    }

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color:#ff3f3f;
    font-size:40px;
    line-height: 60px;
    text-decoration:none;
   font-weight: bold;
   
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #000000;
}
/* =========================================================================== */

/* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
             nav ul ul {
			    display: none;
			    position: absolute;
			    top: 100%;
			}
			
			/* отображаем выпадающий список при наведении */
			nav ul li:hover > ul {
			    display:inherit;
			}
			
			/* первый уровень выпадающего списка */
			nav ul ul li {
			    min-width:170px;
			    float:none;
			    display:list-item;
			    position: relative;
			}
            /* ============================================ */
            /* измените ' +' на любой другой символ, если нужно*/
	
			li > a:after { content:  '^'; background-color:coral}
            li > a:only-child:after { content: ''; }/* измените ' +' на любой другой символ, если нужно
         =========================================================== */
            /* второй, третий и последующие уровни 
			 * смещаем 2 и 3 уровни влево 
			 * на значение длины первого уровня.*/
			
			nav ul ul ul {
			    position: absolute;
			    top:0;
			    left:100%;
		}
ul.fer{
    width: 400px;
}

        @media(max-width:369px) {
            /* body{
                min-width: 1200px;
                height: 500px;
            }
            .container{
                width: 760px;
                height: 500px;
                background-image:url(../img/1.jpg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
            } */
            nav {
                margin: 10px 0;
               /*  background-color: #E64A19; */
                z-index: 1;
            }
            
            /* убираем отступы и поля, а также list-style для "ul", 
             * и добавляем "position:relative" */
            nav ul {
                padding:0;
                margin:0;
                list-style: none;
                position: relative;
                }
            
            /* применяем inline-block позиционирование к элементам навигации */
            nav ul li {
                margin: 0px -7px 0 0;
                display:table;
              /*   background-color: #E64A19; */
                top: -240px;
                left: 360px;
                }
                .thred{
                    position: absolute;
                    top:160px;
                    left: 5px;
                    margin: 0px;
                    background-color:black;
                } 
                .second{
                    position: absolute;
                    top:80px;
                    left: 5px;
                    background-color:black;
                } 
                .ferst{
                    position: absolute;
                    top:0px;
                    left: 5px;
                    margin: 0px;
                    background-color:black;
                } 
.fe{background-color:black;width: 400px;top: -450px;} 
.se{background-color:black;top: -450px;} 
.th{background-color:black;top: -450px;}
            ul.fer{
                background-color:black;
                width: 550px;
            }
            img{
                width: 760px;
                height: 500px;
            }
            /* стилизуем ссылки */
            nav a {
                display:block;
                padding:0 10px;
                color:#f51b1b;
                font-size:60px;
                line-height: 100px;
                text-decoration:none;
            }
            
            /* изменяем цвет фона при наведении курсора */
            nav a:hover {
                background-color: #000000;
            }
           
          }