
*
{
  box-sizing: border-box;
}
.container{
    width: 1200px;
    height: 800px;
    background-color: antiquewhite;
  margin-left: 200px;
}

img{
    width: 200px;
    height: 150px;
}
.image_ferst{
    position: relative;
  
}
.image_second{
    position: absolute;
   
   top: 200px;
   left: 50px;
   border: 1px;
   border-color: mediumturquoise;
   border-style: solid;
}
.image_third{
    position: absolute;
    top: 200px;
    left: 300px;
    border: 1px;
    border-color: mediumturquoise;
    border-style: solid;
}
.image_fourth{
    position: absolute;
    top: 200px;
    left: 550px;
    border: 1px;
    border-color: mediumturquoise;
    border-style: solid;
}
.image_fifth{
    position: absolute;
    top: 400px;
    left: 50px;
    border: 1px;
    border-color: mediumturquoise;
    border-style: solid;
}
.image_sixth{
    position: absolute;
    top: 400px;
    left: 300px;
    border: 2px;
    border-color: rgba(99, 72, 209, 0.513);
    border-style: solid;
}
.image_seventh{
    position: absolute;
    top: 400px;
    left: 550px;
    border: 1px;
    border-color: mediumturquoise;
    border-style: solid;
}
.image_acht{
    position: absolute;
    top: 600px;
    left: 50px;
    border: 1px;
    border-color: rgb(182, 72, 209);
    border-style: solid;
}
.image_photo{
    position: absolute;
    bottom: -100px;
    left: 50px;
  
}
.photo{
    text-decoration: none;
    background-color: rgb(233, 233, 118);
padding: 5px;
}
.container1{
    width: 1200px;
    height: 800px;
    background-color: rgb(214, 241, 181);
  margin-left: 200px;
  margin-top: -15px;
}
.img_title{
    position: relative;
}
.img_ferst{
    transform: rotate(90deg);
    position: absolute;
   top: 50px;
    left: 50px;
  
}
.ferst{
    width: 150px;
    height: 200px;
}
.img_second{
    position: absolute;
    top: 25px;
    left: 310px;
   
}
.second{
    width: 150px;
    height: 250px;
}
.img_third{
    position: absolute;
    top: 25px;
    left: 580px;
   
}
.third{
    width: 150px;
    height: 250px;
    }
    .img_fourth{
        position: absolute;
        top: 350px;
         left: 50px;
        
    }
    .fourth{
        width: 150px;
        height: 250px;
    }
    .img_fifth{
        position: absolute;
        top: 350px;
        left: 310px;
       
    }
    .fifth{
        width: 150px;
    height: 250px;
    }
    .img_sixth{
        position: absolute;
        top: 350px;
        left: 580px;
       
    }
    .sixth{
        width: 150px;
    height: 250px;
    }
    .txt{
        width: 1000px;
    }